textarea {
    min-height: 400px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}


th {
    border: 1px solid #ddd;
    padding: 8px;
    border-right-style: hidden;
    border-left-style: hidden;
}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    font-weight: normal;
}